
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }


img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }


div { position: absolute; }

#content-container { display: block; position: relative; width: 390px; width: 390px; height: 844px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__page_10 {
	top: 0px;
	left: 0px;
	width: 390px;
	height: 844px;
	background:rgba(254.86,254.86,254.86,0.9);
}


#rectangle_8 {
	opacity:0.12999999523163;
	top: 0px;
	left: 0px;
	width: 390px;
	height: 844px;
	background:rgba(0,0,0,0.13);
}

#group_13 {
	top: 416px;
	left: 68px;
	width: 260px;
	height: 137px;
}

#_bg__group_13_ek1 {
	top: -416px;
	left: -68px;
	width: 260px;
	height: 137px;
	background:#;
}


#rectangle_9 {
	top: 0px;
	left: 0px;
	width: 260px;
	height: 137px;
	-ms-border-radius: 17px;
	-o-border-radius: 17px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	border-radius: 17px;
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-180deg , rgba(157,105,90,1) 0%, rgba(55,36.78,31.53,1) 100%);
	background: -o-linear-gradient(-180deg , rgba(157,105,90,1) 0%, rgba(55,36.78,31.53,1) 100%);
	background: -moz-linear-gradient(-180deg , rgba(157,105,90,1) 0%, rgba(55,36.78,31.53,1) 100%);
	background: -ms-linear-gradient(-180deg , rgba(157,105,90,1) 0%, rgba(55,36.78,31.53,1) 100%);
	background: linear-gradient(-180deg , rgba(157,105,90,1) 0%, rgba(55,36.78,31.53,1) 100%);
}


#________________________________________ {
	top: 42px;
	left: 10px;
	width: 260.4px;
	height: 29.4px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#FCE3C6;
}


#_______ {
	top: 101px;
	left: 111px;
	width: 56.4px;
	height: 29.4px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#FCE3C6;
}


#screenshot_2024_03_22_015017_removebg_preview_2 {
	top: 164px;
	left: 37px;
	width: 316px;
	height: 220px;
}




