
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }


img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }


div { position: absolute; }

#content-container { display: block; position: relative; width: 390px; width: 390px; height: 844px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__page_1 {
	top: 0px;
	left: 0px;
	width: 390px;
	height: 844px;
	background:rgba(254.86,254.86,254.86,0.9);
}

#group_1 {
	top: 138px;
	left: 29px;
	width: 332px;
	height: 568.41px;
}

#_bg__group_1_ek1 {
	top: -138px;
	left: -29px;
	width: 332px;
	height: 568.41px;
	background:#;
}


#rectangle_1 {
	top: 0px;
	left: 0px;
	width: 332px;
	height: 568.41px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-286.6821128104deg , rgba(157,105,90,1) 0%, rgba(77,51,44,1) 100%);
	background: -o-linear-gradient(-286.6821128104deg , rgba(157,105,90,1) 0%, rgba(77,51,44,1) 100%);
	background: -moz-linear-gradient(-286.6821128104deg , rgba(157,105,90,1) 0%, rgba(77,51,44,1) 100%);
	background: -ms-linear-gradient(-286.6821128104deg , rgba(157,105,90,1) 0%, rgba(77,51,44,1) 100%);
	background: linear-gradient(-286.6821128104deg , rgba(157,105,90,1) 0%, rgba(77,51,44,1) 100%);
}


#_____________________________________________________________________________________________________ {
	top: 150px;
	left: 47px;
	width: 266.3px;
	height: 58.3px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
	color:#FCE3C6;
}


#___________ {
	top: 45px;
	left: 120px;
	width: 117.6px;
	height: 33.6px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 16px;
	text-align: left;
	color:#FCE3C6;
}


#____________________________________________________________________________________________________________________________________________________________________ {
	top: 293px;
	left: 16px;
	width: 324.3px;
	height: 76.3px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
	color:#FCE3C6;
}


#________274 {
	top: 359px;
	left: 259px;
	width: 75.3px;
	height: 28.3px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
	color:#FCE3C6;
}

#group_3 {
	top: 530px;
	left: 262px;
	width: 59px;
	height: 31px;
}

#_bg__group_3_ek1 {
	top: -668px;
	left: -291px;
	width: 59px;
	height: 31px;
	background:#;
}


#rectangle_2 {
	opacity:0;
	top: 0px;
	left: 0px;
	width: 59px;
	height: 31px;
	background:rgba(0,0,0,0);
}


#________ {
	top: 3px;
	left: 9px;
	width: 53.2px;
	height: 28.2px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 12px;
	text-align: left;
	color:#FCE3C6;
}


#_____ {
	top: 20px;
	left: 161px;
	width: 134px;
	height: 42px;
	overflow: hidden;
	font-family: Noto Nastaliq Urdu;
	font-size: 40px;
	text-align: left;
	color:#000000;
}


#screenshot_2024_03_22_014211_removebg_preview_2 {
	top: 487px;
	left: 75px;
	width: 260px;
	height: 217px;
}



